@using Davisoft_BDSProject.Domain.Entities

@{
    Layout = "~/Views/Shared/_BigBang.cshtml";
}
<style>
    body {
        background: url(/Display/img/background_5.jpg) no-repeat center center;
        background-size: cover;
        height: 100vh;
    }

    input {
        border-radius: 0 !important;
        box-shadow: none !important;
        border-color: #ccc;
    }

    .login-container {
        width: 320px;
        position: absolute;
        top: 10%;
        border-color: #DDD;
        color: #333;
        padding: 15px;
        left: 5%;
    }

    .login-form {
        border-radius: 0px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        background: #fff;
    }

    .login-container h1 {
        /*text-transform: uppercase;*/
        font-size: 18px;
        text-align: center;
        background: #F6F6F6;
        padding: 19px 0;
        color: #6164C1;
        margin-bottom: 0;
    }

    .login-container .logo {
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        margin-top: 15px;
    }

        .login-container .logo p {
            margin-top: 8px;
        }

        .login-container .logo img {
            background-size: 100%;
            width: 180px;
            margin-top: 5%;
        }

    .button {
        background: #6164C1;
        border: none;
        padding: 10px 16px;
        color: #fff;
        font-size: 12px;
        width: 100%;
    }

        .button:hover {
            background: #5356A0;
            color: #ffffff;
        }

    .text_system {
        margin: 15px 0 0 0;
        font-weight: bold;
        font-size: 13px;
        text-align: center;
    }

    .error {
        font-size: 12px;
        color: red;
        text-align: center;
        margin-top: 13px;
    }

   
    .fullscreen {
        width: 100vw;
        height: 100vh;
    }

    .countriesContain {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, 0.5);
    }

    .countriesContain {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, 0.5);
        text-align: right;
    }

        .countriesContain ul li {
            display: inline-block;
            margin: 30px;
        }

            .countriesContain ul li img {
                background-size: 100%;
                width: 40px;
                border-radius: 2px;
            }
            .countriesContain ul {
                padding: 45px 65px;
            }
</style>
<div class="fullscreen">
    <div class="countriesContain">
        <ul class="circle-container">
            @*@foreach (var country in Model)
            {
                <li>
                    <a href="@Url.Action("Index", "Users")" class="hvr-pop">
                        <span>
                            <img src="~/data/country_img/@country.Image" />
                        </span>
                    </a>
                </li>
            }*@
        </ul>
    </div>
</div>

@section css
{
    @Styles.Render("~/display/css/min")
    <style>
        body {
            overflow: hidden;
            max-width: 100%;
        }

        .login_page {
            height: 100%;
        }
    </style>
}

@section js
{
    @Scripts.Render("~/content/js/min")
    <script>
        $(document).ready(function () {
            $('body').css("max-width", "100%");
        })
    </script>
}
