  <div class="nav_section">
                    <div class="container clearfix">
                        <!-- Nav -->
                        <div class="grid_12 mg0">
                            <nav class="nav">
                                <ul class="nav-list">
                                    <li>
                                        <a href="" class="active">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Nhân viên kinh doanh</a>
                                    </li>
                                    <li>
                                        <a href="">Quản lý</a>
                                    </li>
                                    <li>
                                        <a href="">Văn phòng</a>
                                    </li>
                                    <li>
                                        <a href="">Thẩm định</a>
                                    </li>
                                    <li>
                                        <a href="">Marketing</a>
                                    </li>
                                    <li>
                                        <a href="">Pháp lý</a>
                                    </li>
                                    <li>
                                        <a href="">Tele Sales</a>
                                    </li>
                                    <li class="spec">
                                        <a href=""><i class="fa fa-file-text-o"></i>Bảng giá</a>
                                    </li>
                                    <li class="spec">
                                        <a href=""><i class="fa fa-volume-control-phone"></i>08) 39393939</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- /Nav -->
                        </div>
                    </div>
                </div>