@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="container">
    <div class="grid_9 main_left">
        <ul class="idTabs">
            <li>
                <a href="#tab1">
                    <img src="~/Template/images/icon_1.png" alt="icon">
                    <figcaption>Dành cho người tìm việc</figcaption>
                </a>
            </li>
            <li>
                <a href="#tab2">
                    <img src="~/Template/images/icon_2.png" alt="icon">
                    <figcaption>Dành cho nhà tuyển dụng</figcaption>
                </a>
            </li>
        </ul>
        <div class="content_tab">
            <div id="tab1">
                <h4>Tìm tin tuyển dụng nhân viên kinh doanh bất động sản</h4>
                <div class="box_select">
                    <fieldset>
                        <div class="grid_3">
                            <select class="dropdown" tabindex="7">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                                <option value="5">Option 5</option>
                            </select>
                        </div>
                        <div class="grid_3">
                            <select class="dropdown" tabindex="7">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                                <option value="5">Option 5</option>
                            </select>
                        </div>
                        <div class="grid_3">
                            <select class="dropdown" tabindex="7">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                                <option value="5">Option 5</option>
                            </select>
                        </div>
                        <div class="grid_3 omega"> <button class="btn_search" type="button"><i class="fa fa-search"></i>TÌM KIẾM</button> </div>
                    </fieldset>
                </div>
            </div>
            <div id="tab2">
                <h4>Tìm tin tuyển dụng nhân viên kinh doanh bất động sản abc</h4>
                <div class="box_select">
                    <fieldset>
                        <div class="grid_3">
                            <select class="dropdown" tabindex="7">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                                <option value="5">Option 5</option>
                            </select>
                        </div>
                        <div class="grid_3">
                            <select class="dropdown" tabindex="7">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                                <option value="5">Option 5</option>
                            </select>
                        </div>
                        <div class="grid_3">
                            <select class="dropdown" tabindex="7">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                                <option value="5">Option 5</option>
                            </select>
                        </div>
                        <div class="grid_3 omega"> <button class="btn_search" type="button"><i class="fa fa-search"></i>TÌM KIẾM</button> </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="grid_12 title_detail">
            <div class="logo_detail">

            </div>
            <div class="name_detail">
                <h2>Công ty đầu tư bất động sản dm thành viên</h2>
                <p><strong>Công ty mẹ ở Việt Nam</strong></p>
                <p><i class="fa fa-map-marker"></i>Nơi làm việc: Hồ Chí Minh</p>
                <p><i class="fa fa-user"></i>Công việc: Hồ Chí Minh</p>
                <p><i class="fa fa-usd"></i>Mức lương: </p>
            </div>
            <div class="grid_12 btn_hoso">
                <button class="btn_search" type="button"><i class="fa fa-paper-plane-o"></i>NỘP HỒ SƠ</button>
            </div>
        </div>

        <div class="row">

            <div class="grid_12 table_info">
                <table class="table-responsive">
                    <tbody>
                        <tr>
                            <td><label>Nơi làm việc: </label> Hồ Chí Minh</td>
                            <td><label>Lương: </label> 36 -369</td>

                        </tr>
                        <tr>
                            <td><label>Công viêc: </label>Nhân viên kinh doanh / Buôn bán</td>
                            <td><label>Phụ cấp: </label> hổ trợ tiền xăng, ăn trưa</td>

                        </tr>
                        <tr>
                            <td><label>Nơi làm việc: </label> Hồ Chí Minh</td>
                            <td><label>Lương: </label> 36 -369</td>

                        </tr>
                        <tr>
                            <td><label>Công viêc: </label>Nhân viên kinh doanh / Buôn bán </td>
                            <td><label>Phụ cấp: </label> hổ trợ tiền xăng, ăn trưa</td>

                        </tr>

                    </tbody>
                </table>

                <h3>Giới thiệu công ty</h3>
                <p>Mọi giao dịch đều thông qua liên hệ trực tiếp theo nguyên tắc trao đổi tự thỏa thuận, hợp tác, trung thực, xây dựng nhằm đảm bảo quyền và lợi ích hợp pháp của các bên tham gia giao dịch. </p>

                <h3>Mô tả công việc: </h3>
                <ul class="info">
                    <li>
                        Cung cấp hàng hóa, dịch vụ hay thực hiện những giao dịch mà khách hàng yêu cầu.
                    </li>
                    <li>Gửi thông tin đến khách hàng</li>
                    <li>Phân tích đánh giá và hoàn thiện sản phẩm, dịch vụ (kể cả website), công nghệ, quy trình.</li>
                    <li>
                        Nâng cao mối liên kết và tương tác với khách hàng
                    </li>
                </ul>

                <h3>Quyền lợi được hưởng: </h3>
                <ul class="info">
                    <li>
                        Competitive salary and attractive bonuses scheme
                    </li>
                    <li> Opportunity for professional training & development </li>
                    <li> Opportunity for luxury domestic and overseas travel </li>
                    <li>
                        Opportunity to take challenge and build up successful career in a promising new industry
                    </li>
                </ul>
                <h3>Thông tin thêm nhà tuyển dụng</h3>
                <table class="table-responsive table_nhatuyendung">
                    <tbody>
                        <tr>
                            <td><label>Nơi làm việc: </label> Hồ Chí Minh  <i class="fa fa-check"></i></td>

                        </tr>
                        <tr>
                            <td><label>Công viêc: </label>Nhân viên kinh doanh / Buôn bán <i class="fa fa-check"></i></td>

                        </tr>
                        <tr>
                            <td><label>Nơi làm việc: </label> Hồ Chí Minh</td>

                        </tr>
                        <tr>
                            <td><label>Công viêc: </label>Nhân viên kinh doanh / Buôn bán</td>

                        </tr>

                    </tbody>
                </table>
                <div class="grid_12 btn_hoso">
                    <button class="btn_search" type="button"><i class="fa fa-paper-plane-o"></i>NỘP HỒ SƠ</button>
                </div>
                <a href="" class="grid_12 more_plus">+ Xem thêm việc làm của công ty này</a>
                <div class="group_work">
                    <div class="header_text">
                        <h3><span><i class="fa fa-list-ul"></i>Việc làm Bất Động Sản hấp dẫn</span></h3>
                        <div class="search_location">
                            Tìm theo khu vực
                            <div class="dropdown">
                                <span class="old">
                                    <select class="" tabindex="7" id="EasyDropDown0B4645">
                                        <option value="1">Toàn quốc</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                        <option value="4">Option 4</option>
                                        <option value="5">Option 5</option>
                                    </select>
                                </span><span class="selected">Toàn quốc</span><span class="carat"></span><div><ul><li class="active">Toàn quốc</li><li>Option 2</li><li>Option 3</li><li>Option 4</li><li>Option 5</li></ul></div>
                            </div>
                        </div>
                    </div>
                    <ul class="list_work">
                        <li>
                            <div class="grid_3">
                                <a href="">
                                    <img src="~/Template/images/1.jpg" alt="1">
                                    <p class="vip">
                                        <i class="fa fa-star"></i>
                                        <span>VIP</span>
                                    </p>
                                </a>
                            </div>
                            <div class="grid_9 omega">
                                <h2><a href="#">Nhân viên kinh doanh <span>Tập đoàn cá tiên sa</span></a></h2>
                                <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                <div>
                                    <p class="grid_6"><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                    <p class="grid_6 omega time">Mã tin: <span class="color2">P889275</span> <i class="fa fa-clock-o"></i>12/12/1224</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="grid_3">
                                <a href="">
                                    <img src="~/Template/images/1.jpg" alt="1">
                                    <p class="vip">
                                        <i class="fa fa-star"></i>
                                        <span>VIP</span>
                                    </p>
                                </a>
                            </div>
                            <div class="grid_9 omega">
                                <h2><a href="#">Nhân viên kinh doanh <span>Tập đoàn cá tiên sa</span></a></h2>
                                <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                <div>
                                    <p class="grid_6"><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                    <p class="grid_6 omega time">Mã tin: <span class="color2">P889275</span> <i class="fa fa-clock-o"></i>12/12/1224</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="grid_3">
                                <a href="">
                                    <img src="~/Template/images/1.jpg" alt="1">
                                    <p class="vip">
                                        <i class="fa fa-star"></i>
                                        <span>VIP</span>
                                    </p>
                                </a>
                            </div>
                            <div class="grid_9 omega">
                                <h2><a href="#">Nhân viên kinh doanh <span>Tập đoàn cá tiên sa</span></a></h2>
                                <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                <div>
                                    <p class="grid_6"><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                    <p class="grid_6 omega time">Mã tin: <span class="color2">P889275</span> <i class="fa fa-clock-o"></i>12/12/1224</p>
                                </div>
                            </div>
                        </li>
                        <li class="page">
                            <div class="page_links">
                                <span>Trang</span>
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">Tiếp</a>
                            </div>
                            <div class="more">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#">Xem thêm</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="grid_3 omega main_right">
        <div class="banner_right">
            <img src="~/Template/images/banner2.jpg" alt="banner">
            <img src="~/Template/images/banner2.jpg" alt="banner" style="margin:0">
        </div>
        <div class="right_col">
            <h3>Việc làm bất động sản</h3>
            <ul class="last_list_right">
                <li>
                    <a href="#">Trưởng phòng kinh doanh</a>
                </li>
                <li>
                    <a href="#">Nhân viên kinh doanh bđs</a>
                </li>
                <li>
                    <a href="#">Nhân viên Admin Sale</a>
                </li>
                <li>
                    <a href="#">Nhân viên Thị Trường</a>
                </li>
                <li>
                    <a href="#">Nhân viên Thị Trường</a>
                </li>
                <li>
                    <a href="#">Nhân viên Thị Trường</a>
                </li>
            </ul>
        </div>
        <div class="right_col">
            <h3>Công ty nổi bật</h3>
            <ul class="last_list_right">
                <li>
                    <a href="#">Công ty TNHH ABC</a>
                </li>
                <li>
                    <a href="#">Nhân viên kinh doanh bđs</a>
                </li>
                <li>
                    <a href="#">Nhân viên Admin Sale</a>
                </li>
                <li>
                    <a href="#">Nhân viên Thị Trường</a>
                </li>
                <li>
                    <a href="#">Nhân viên Thị Trường</a>
                </li>
                <li>
                    <a href="#">Nhân viên Thị Trường</a>
                </li>
            </ul>
        </div>
        <div class="right_col">
            <h3>Chia sẽ kinh nghiệm</h3>
            <ul class="list_news">
                <li>
                    <a href="#"><img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                    <figcaption><a href="#">Lo ngại tình trạng mua bán tùm lum chỗ để ô tô trong chung cư</a></figcaption>
                </li>
                <li>
                    <a href="#"><img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                    <figcaption><a href="#">Loại bỏ các cao ốc ‘phá nát biển Nha Trang’</a></figcaption>
                </li>
                <li>
                    <a href="#"><img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                    <figcaption><a href="#">Tiền đổ vào bất động sản chưa bao giờ giảm</a></figcaption>
                </li>
            </ul>
        </div>
        <div class="comment">
            <h3><i class="fa fa-comments"></i>Nhận xét khách hàng</h3>
            <div class="comment_box">
                <p>Tôi rất thoải mái cách làm việc của các bạn, tôi chúc các bạn thành công hơn nữa</p>
            </div>
            <div class="name_comment">
                <p><span>Anh Tú</span> Cty một thành viên</p>
            </div>
        </div>
        <div class="right_col">
            <h3>Tin bất động sản</h3>
            <ul class="list_news">
                <li>
                    <a href="#"><img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                    <figcaption><a href="#">Lo ngại tình trạng mua bán tùm lum chỗ để ô tô trong chung cư</a></figcaption>
                </li>
                <li>
                    <a href="#"><img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                    <figcaption><a href="#">Loại bỏ các cao ốc ‘phá nát biển Nha Trang’</a></figcaption>
                </li>
                <li>
                    <a href="#"><img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                    <figcaption><a href="#">Tiền đổ vào bất động sản chưa bao giờ giảm</a></figcaption>
                </li>
            </ul>
        </div>
        <div class="banner_right">
            <img src="~/Template/images/banner2.jpg" alt="banner">
            <img src="~/Template/images/banner2.jpg" alt="banner">
        </div>
    </div>
</div>
