@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    davisoft_bdsprojectEntities1 db = new davisoft_bdsprojectEntities1();

    var States = (from a in db.States
                  join b in db.StateTexts on a.state_id equals b.id
                  where b.language_id == "vi" && a.Status == 1 && a.state_id != 59 && a.state_id != 28
                  select new { Id = a.state_id, Name = b.text }).ToList();

    States.Insert(0, new { Id = 59, Name = "TP.Hồ Chí Minh" });
    States.Insert(1, new { Id = 28, Name = "TP.Hà Nội" });
}

@using System.Configuration
@using WebBDS_Project.Models
@model WebBDS_Project.Models.RegisterInformationModel


<div class="container">
    <div class="grid_12 ">
        <div class="group_work" style="margin-top: 25px">
            <div class="header_text">
                <h3><span><i class="fa fa-list-ul"></i>Kích hoạt tài khoản</span></h3>
            </div>
            <div class="form-horizontal">
                <div class="grid_6">
                    <div class="right_col">

                        <div class="cus-h3">Kích hoạt tài khoản</div>
                        <ul class="list_news cus-listnew-login">
                            <li style="font-weight: bold; font-size: 20px; color: #0099d6;">
                               @(Model.Status ? Model.TblBdsAdcount.Email+ " Đã được kích hoạt.Vui lòng đăng nhập để cập nhật thông tin." : "Mã kích hoạt không đúng")
                            </li>
                            <li >
                              
                                <a href="@Url.Action("LoginForm","Login")" class="btn btLogin">Đăng nhập </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid_6 omega">
                    <div class="right_col">
                        <div class="cus-h3">Đăng ký</div>
                        <ul class="list_news">
                            <li>
                                <b class="TextColorRed">Nếu bạn không có tài khoản </b><br />
                                <a class="cus-a-login" href="@Url.Action("RegisterCompany","Register")">Đăng Ký nhà tuyển dụng</a>
                                <a class="cus-a-login" style="color: black"> | </a>
                                <a class="cus-a-login" href="@Url.Action("RegisterPersonal","Register")">Đăng Ký người tìm việc</a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<style>
    .btLogin {
        background: #f39f18;
        float: right;
        color: #fff;
        border: none;
        padding: 8px 11px;
        font-weight: bold;
        margin-top: 13px;
        line-height: 22px;
        border-radius: 2px;
    }
</style>
