@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    davisoft_bdsprojectEntities1 db = new davisoft_bdsprojectEntities1();

    var States = (from a in db.States
                  join b in db.StateTexts on a.state_id equals b.id
                  where b.language_id == "vi" && a.Status == 1 && a.state_id != 59 && a.state_id != 28
                  select new { Id = a.state_id, Name = b.text }).ToList();

    States.Insert(0, new { Id = 59, Name = "TP.Hồ Chí Minh" });
    States.Insert(1, new { Id = 28, Name = "TP.Hà Nội" });
}

@using System.Configuration
@using WebBDS_Project.Models
@model WebBDS_Project.Models.RegisterInformationModel

@section share_fb{



    <meta name="keywords" content="tuyennhanvienbatdongsan" />
    <meta name="title" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta itemprop="name" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta property="og:title" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta name="description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />
    <meta itemprop="description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />
    <meta id="meta-tag-description" property="og:description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />


}
<div class="container">
    <div class="grid_12 ">
        <div class="group_work" style="margin-top: 25px">
            <div class="header_text">
                <h3><span><i class="fa fa-list-ul"></i>Gửi lại mật khẩu</span></h3>
            </div>
            <div class="form-horizontal">
                <div class="grid_6">
                    <div class="right_col">

                        <div class="cus-h3">Tạo mật khẩu mới</div>
                        <ul class="list_news cus-listnew-login">
                            <li >
                                <p>
                                   Mật khẩu mới
                                    <input placeholder="Mật khẩu" id="txtPass" type="password">
                                </p>
                                <p>
                                    Nhập lại Mật khẩu mới
                                    <input placeholder="Mật khẩu" id="txtPass1" type="password">
     
                                </p>
                                <a href="javascript:void(0)" class="btn btLogin">Đồng ý </a>

                            </li>
                          
                        </ul>
                    </div>
                </div>
                <div class="grid_6 omega">
                    <div class="right_col">
                        <div class="cus-h3">Đăng ký</div>
                        <ul class="list_news">
                            <li>
                                <b class="TextColorRed">Nếu bạn không có tài khoản </b><br />
                                <a class="cus-a-login" href="@Url.Action("RegisterCompany","Register")">Đăng Ký nhà tuyển dụng</a>
                                <a class="cus-a-login" style="color: black"> | </a>
                                <a class="cus-a-login" href="@Url.Action("RegisterPersonal","Register")">Đăng Ký người tìm việc</a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<style>
    .btLogin {
        background: #f39f18;
        float: right;
        color: #fff;
        border: none;
        padding: 8px 11px;
        font-weight: bold;
        margin-top: 13px;
        line-height: 22px;
        border-radius: 2px;
    }
</style>
<script>
    $('.btLogin').click(function () {
        var t = 0;
        if ($('#txtPass').val() == '') {
            toastr.error("Mật khẩu mới không được rỗng");
            t++;
        }
        if ($('#txtPass1').val() == '') {
            toastr.error("Nhập lại mật khẩu mới không được rỗng");
            t++;
        }
        if ($('#txtPass').val() != $('#txtPass1').val()) {
            toastr.error("Mật khẩu mới không giống nhau");
            t++;
        }
        if (t == 0) {
            var token = window.location.href;
            var obj = {};
            obj.pass = $('#txtPass1').val();
            obj.token = token.split('=')[1];
            $.ajax
           ({
               type: "POST",
               url: '@Url.Action("ChangePass", "Register")',
               data: JSON.stringify(obj),
               dataType: "json",
               contentType: "application/json;charset=utf-8",
               success: function (data) {
                   if (data.result == 1) {
                       toastr.success("Đổi mật khẩu thành công");
                       window.location.href = "@Url.Action("LoginForm","Login")";
               
                   } else {
                       toastr.error("Đổi mật khẩu không thành công.Vui lòng thử lại sau!");
                   }

               }
           });
        }
    });
    function ChangePass() {
        
    }
</script>