@{
    ViewBag.Title = "RegisterEmployee";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

 <div class="container">
                    <div class="grid_12 ">
                        <div class="group_work">
                            <div class="header_text header_radius header-info-background">
                                <h3><span><i class="fa fa-list-ul"></i>Đăng ký tài khoản người tìm việc</span></h3>
                            </div>
                            <div class="form-horizontal-register form-in-register padding_box" data-validate="parsley" action="#">
                                <h4><span class="required">*</span><span class="clInforequired">Thông tin bất buộc</span> </h4>
                                <div class="row">Quý khách sử dụng thông tin tài khoản này để đăng nhập vào CareerBuilder.vn</div>
                                <div class="row">
                                    <label>Email đăng nhập<span class="required">*</span></label>
                                    <div class="row-right">
                                        <input class="input1" placeholder="Nhập email" type="text">
                                    </div>

                                    <div class="row-right note2" style="line-height: 16px; ">

                                        <i class="fa fa-caret-right"></i> Cũng là tên đăng nhập chính của quý công ty trên CareerBuilder.vn
                                               <br />
                                        <a class="lblcheckEmail" href="#"> Kiểm tra sự tồn tại của email</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <label>Xác nhận Email<span class="required">*</span></label>
                                    <div class="row-right">
                                        <input class="input1" placeholder="Xác nhận Email" type="text">
                                    </div>
                                    <div class="grid_6"></div>
                                </div>
                                <div class="row">
                                    <label>Mật khẩu<span class="required">*</span></label>
                                    <div class="row-right">
                                        <input class="input1" placeholder="Nhập mật khẩu" type="password">
                                    </div>

                                </div>
                                <div class="row">
                                    <label>Xác nhận mật khẩu<span class="required">*</span></label>
                                    <div class="row-right">
                                        <input class="input1" placeholder="Nhập lại mật khẩu" type="password">
                                    </div>

                                </div>

                            </div>
                            <div class="header_text header-info header-info-background">
                                <h3><span><i class="fa fa-list-ul"></i>Thông tin cá nhân</span></h3>
                            </div>
                            <div class="form-horizontal-register form-in-register form-have-border-bottom padding_box " data-validate="parsley" action="#">
                                <div class="row row_name">
                                    <label>Họ và tên<span class="required">*</span></label>
                                    <div class="row-right">
                                        <input class="input1" placeholder="Nhập họ và tên" type="text">
                                    </div>

                                   
                                        <label class="child">Ngày sinh<span class="required">*</span></label>
                                        <div class="pncon">
                                            <input class="input2" placeholder="DD" type="text">
                                        </div>
                                        <div class="pncon">

                                            <input class="input2" placeholder="MM" type="text">
                                        </div>
                                        <div class="pncon">
                                            <input class="input2 mg0_0" placeholder="YYYY" type="text">
                                        </div>
                                        
                                    </div>
                              
                                <div class="row">
                                    <label>Số điện thoại<span class="required">*</span></label>
                                    <div class="row-right">
                                        <input class="input1" placeholder="Nhập số điện thoại" type="text">
                                    </div>

                                   
                                        <label class="child">Giới tính<span class="required">*</span></label>
                                       
                                            <div class="pncon radio_2">
                                                <label><input type="radio"> Nam</label>
                                                <label><input type="radio"> Nữ</label>
                                                
                                            </div>

                                       

                                    </div>
                                
                                <div class="row">

                                    <label>Địa chỉ liên hệ<span class="required"> *</span></label>
                                    <div class="row-right">

                                        <input class="input1" placeholder="Nhập địa chỉ liên hệ" type="text">
                                    </div>
                                    <div class="row-right">

                                        <div class="pncon width2">

                                            <label class="child">Tỉnh/TP</label>
                                             
                                                <select class="dropdown" tabindex="7">
                                                    <option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                    <option value="3">Option 3</option>
                                                    <option value="4">Option 4</option>
                                                    <option value="5">Option 5</option>
                                                </select>
                                           
                                        </div>

                                 
                                    
                                        <div class="pncon mgl15 width2">

                                            <label>Quận/Huyện</label>
                                          
                                                <select class="dropdown" tabindex="7">
                                                    <option value="1">Option 1</option>
                                                    <option value="2">Option 2</option>
                                                    <option value="3">Option 3</option>
                                                    <option value="4">Option 4</option>
                                                    <option value="5">Option 5</option>
                                                </select>
                                           
                                        </div>

                                    </div>


                                </div>
                            <div class="row">
                            	<div class="width4">
                                <label>Tình trạng hôn nhân<span class="required"> *</span></label>
                                <div class="row-right">

                                    
                                        <select class="dropdown" tabindex="7">
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>

                                        </select>
                                   
                                </div>
                              </div>
                                    <div class="row-right width3">

                                        <label class="child">Mức lương mong muốn <span class="required">*</span></label>
                                        <div class="pncon">
                                            <select class="dropdown" tabindex="7">
                                                <option value="1">Option 1</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                                <option value="4">Option 4</option>
                                                <option value="5">Option 5</option>
                                            </select>
                                        </div>
                                    </div>

                               

                            </div>
                            <div class="row">
                            	<div class="width4">
                                 <label>Số năm kinh nghiệm<span class="required"> *</span></label>
                                <div class="row-right">

                                    
                                        <select class="dropdown" tabindex="7">
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>

                                        </select>
                                   
                                </div>
                              </div>
                                    <div class="row-right width3">

                                        <label class="child">Học vấn <span class="required">*</span></label>
                                        <div class="pncon">
                                            <select class="dropdown" tabindex="7">
                                                <option value="1">Option 1</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                                <option value="4">Option 4</option>
                                                <option value="5">Option 5</option>
                                            </select>
                                        </div>
                                    </div>

                               

                            </div>
                            
                                 <div class="row">
                                    <label>Công việc mong muốn<span class="required">*</span></label>
                                    <div class="row-right">
                                        <select class="dropdown" tabindex="7">
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>

                                        </select>
                                    </div>

                                   
                                        <label class="child">Kinh nghiệm trong ngành bất động sản<span class="required">*</span></label>
                                        
                                            <div class="pncon radio_3">
                                               <label><input type="radio">Không</label>
                                               <label><input type="radio">Đã có kinh nghiệm</label>                                                   
                                            </div>

                                    

                                    </div>
                               
                                 <div class="row">
                                           <label>Giới thiệu sơ lược</label>
                                           <div class="row-right">
                                               <textarea class="input4" rows="4"></textarea>                    
                                           </div>
                                       </div>
                                 <div class="row">
                                    <label>Mã xác nhận<span class="required">*</span></label>
                                    <div class="row-right">
                                        <input class="input1" placeholder="Nhập mã" type="text">
                                    </div>
                                </div>
                            <div class="row">
                                          
                                           <label>Logo Công Ty</label>
                                           <div class="logo_jobs">
                                               <img src="~/Template/images/imgUpload.png" />             
                                           </div>
                                                
                                               <div class="text_jobs">
                                               
                                                   <span>(Khuyến cáo:Quý công ty nên tải hình ảnh logo hoặc hình ảnh hoạt động của Công Ty,sẽ tăng gấp 2 lần khả năng tiếp cận ứng viên)</span>
                                               </div>
                                            
                                          
                                    
                                          
                                       </div>
                            <div class="row">

                                <div class="grid_12">
                                    <span>Bằng việc nhấp vào "Đăng ký nhanh",bạn đã đồng ý với các điều khoản ghi trong   <a class="lblcheckEmail" href="#">thỏa thuận dịch vụ của CareerBuilder.vn</a></span>
                                </div>

                            </div>
                            <div class="row">
                                <label></label>
                                <a class="grid_2 btnSubmit" href="#">Đăng ký</a>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
