@{
    ViewBag.Title = "ThanksApply";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
@section share_fb{



    <meta name="keywords" content="tuyennhanvienbatdongsan" />
    <meta name="title" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta itemprop="name" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta property="og:title" content="TUYỂN NHÂN VIÊN MÔI GIỚI KINH DOANH BẤT ĐỘNG SẢN" />
    <meta name="description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />
    <meta itemprop="description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />
    <meta id="meta-tag-description" property="og:description" content="Tuyển nhân viên kinh doanh môi giới Bất Động Sản tại Tp.HCM, sale hỗ trợ tư vấn khách hàng Nhà Bán, Căn Hộ, Nhân Viên Kinh Doanh BĐS thu nhập cao." />


}
<div class="container">
    <div class="grid_12 ">
        <div class="group_work">
            <div class="header_text">
                <h3><span><i class="fa fa-list-ul"></i>Trang hoàn tất nộp hồ sơ</span></h3>
            </div>
            <div class="form-horizontal">
                <div class="grid_12">
                    <div class="right_col">
                        <ul class="list_news cus-listnew-login">
                            <li>
                               
                                <p>
                                    <b>Hồ sơ của bạn đã được gửi đến nhà tuyển dụng.Cảm ơn bạn đã liên hệ với chúng tối</b>
                                </p>
                                <br/>
                                <p>
                                        <a href="@Url.Action("ThanksApply","Management")">Quay về trang chủ</a> 
                                 </p>
                                   
                                    
                            </li>

                        </ul>
                        
                    </div>
                </div>
                @*<div class="grid_6 omega">
                    <div class="right_col">
                        <div class="cus-h3">Đăng nhập</div>
                        <ul class="list_news cus-listnew-login">
                            <li>
                                @using (Html.BeginForm("Login", "Login"))
                                {
                                    <p>
                                        Email
                                        <input placeholder="Email" name="tblBDSAccount.Email" type="text">
                                    </p>
                                    <p>
                                        Mật khẩu
                                        <input placeholder="Mật khẩu" name="tblBDSAccount.PassWord" type="password">
                                        <button type="submit" class="btLogin">Đăng nhập</button>
                                    </p>
                                    <p class="box_remember">
                                        <a href="@Url.Action("ForgetPass", "Management")">Quên mật khẩu</a><br>
                                        Đăng nhập bằng
                                        <a href="#"><i class="fa fa-facebook-official"></i></a>
                                        <a href="#"><i class="fa fa-google-plus-square"></i></a>
                                    </p>
                                }
                            </li>

                        </ul>
                    </div>
                </div>*@

            </div>
        </div>
    </div>

</div>

<script>
    var t = setTimeout(function () {

        window.location.href = '@Url.Action("Index","Default")';
    },5000);
</script>