<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/full")
	@RenderSection("css", false)
</head>
<body>
    @RenderBody()
</body>
</html>
