 @using WebBDS_Project.Models
@{
   
    davisoft_bdsprojectEntities db = new davisoft_bdsprojectEntities();
  
}
  
                        <div class="comment">
                            <h3><i class="fa fa-comments"></i>Nhận xét khách hàng</h3>
                            <div class="comment_box">
                                <p>Tôi rất thoải mái cách làm việc của các bạn, tôi chúc các bạn thành công hơn nữa</p>
                            </div>
                            <div class="name_comment">
                                <p><span>Anh Tú</span> Cty một thành viên</p>
                            </div>
                        </div>