@model IEnumerable< WebBDS_Project.Models.BDSCareer>

              <div class="nav_section">
                    <div class="container clearfix">
                        <!-- Nav -->
                        <div class="grid_12 mg0">
                            <nav class="nav">
                                <ul class="nav-list">
                                    <li>
                                        <a href="@Url.Action("Index","Default")" class="active">Trang chủ</a>
                                    </li>
                                   
                                    @foreach (var item in Model)
                                    {
                                        <li>
                                            <a href="">@item.Name</a>
                                        </li>
                                    }
                                    <li class="spec">
                                        <a href=""><i class="fa fa-file-text-o"></i>Bảng giá</a>
                                    </li>
                                    <li class="spec">
                                        <a href=""><i class="fa fa-volume-control-phone"></i>08) 39393939</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- /Nav -->
                        </div>
                    </div>
                </div>
