

<!DOCTYPE HTML>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
   <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
   <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
   <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="FLY Academy is a professional acting and grooming school of the highest standard.">
    <meta name="keywords" content="fly academy, singapore, acting school, grooming school, modeling school, workshop, classes">
    <meta name="author" content="Hege Refsnes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
    <title>BDS</title>
    <link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/font-awesome.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/reponsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/CusWeb.css" type="text/css" media="screen">
    <!-- <link rel="stylesheet" href="css/style.min.css" type="text/css" media="screen"> -->
    <!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/flaunt.js"></script>
    <script src="js/tabs.js"></script>
    <script src="js/jquery.easydropdown.min.js"></script>
</head>
<body>
    <div id="warrper">
        <div id="content">
            <div class="menu">
                <div class="soc_icons">
                    <div class="container clearfix">
                        <p>Website tuyển dụng nhân viên bất động sản hàng đầu Việt Nam</p>
                        <div class="login">
                            <a href="#" target="_blank">
                                <i class="fa fa-pencil-square-o"></i>
                                </i>Đăng ký
                            </a>
                            <a href="#" target="_blank"><i class="fa fa-user"></i>Đăng nhập</a>
                        </div>
                    </div>
                </div>
                <div class="container clearfix">
                    <div class="top">
                        <div class="logo"><a href="#"><img src="images/logo.png" alt="logo">Tìm việc làm bất động sản nhanh chóng</a> </div>
                        <div class="banner"><img src="images/banner.jpg" alt="logo"></div>
                    </div>
                </div>
                <div class="nav_section">
                    <div class="container clearfix">
                        <!-- Nav -->
                        <div class="grid_12 mg0">
                            <nav class="nav">
                                <ul class="nav-list">
                                    <li>
                                        <a href="" class="active">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="">Nhân viên kinh doanh</a>
                                    </li>
                                    <li>
                                        <a href="">Quản lý</a>
                                    </li>
                                    <li>
                                        <a href="">Văn phòng</a>
                                    </li>
                                    <li>
                                        <a href="">Thẩm định</a>
                                    </li>
                                    <li>
                                        <a href="">Marketing</a>
                                    </li>
                                    <li>
                                        <a href="">Pháp lý</a>
                                    </li>
                                    <li>
                                        <a href="">Tele Sales</a>
                                    </li>
                                    <li class="spec">
                                        <a href=""><i class="fa fa-file-text-o"></i>Bảng giá</a>
                                    </li>
                                    <li class="spec">
                                        <a href=""><i class="fa fa-volume-control-phone"></i>08) 39393939</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- /Nav -->
                        </div>
                    </div>
                </div>
                <!-- Content -->
                <div class="container">
                    <div class="grid_12 main_left">
                        <div class="idLayoutRegister">
                            
                                <div class="ChilLayoutRegister">
                                    


                                        <div class="layoutRegister">
                                            <img src="images/icon_1.png" alt="icon"><figcaption>Đăng ký tài khoản nhà tuyển dụng</figcaption>
                                        </div>
                                    <div class="ClasHr">
                                        
                                    </div>
                                </div>
                         
                        </div>
                        <div class="content_register">
                            <div id="tab1">
                               
                            </div>
                        
                        </div>
                      
                    </div>
                  
                </div>
            </div>
        </div>
        <!--end-->
    </div>
    <!--footer-->
    <div id="footer">
        <div class="container clearfix">
            <div class="top_footer">
                <ul>
                    <li><a href="#">Nhà bán</a></li>
                    <li><a href="#">Đất nền</a></li>
                    <li><a href="#">Căn hộ</a></li>
                    <li><a href="#">Nhà cho thuê</a></li>
                    <li><a href="#">Quy định</a></li>
                    <li><a href="#">Điều khoản thỏa thuận</a></li>
                </ul>
            </div>
            <div class="main_footer">
                <div class="grid_4 grid_4_1">
                    <h1>NHABAN.NET.VN</h1>
                    <p>Đăng tin <strong>MIỄN PHÍ</strong> - Mua bán <strong>TỨC THÌ</strong></p>
                    <p>Website Đăng tin bất động sản thế hệ mới dành cho cá nhân và Doanh nghiệp mua bán thuê nhà đất online.</p>
                </div>
                <div class="grid_3 grid_3_1">
                    <h1>QUY ĐỊNH/ĐĂNG TIN</h1>
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-caret-right"></i>Quy chế trên Nhaban.net.vn</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-caret-right"></i>Chính sách bảo mật</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-caret-right"></i>Giải quyết tranh chấp</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-caret-right"></i>Qui định đăng tin</a>
                        </li>
                    </ul>
                </div>
                <div class="grid_3 grid_3_1">
                    <h1>SẢN PHẨM / DỊCH VỤ</h1>
                    <ul>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Đăng tin miễn phí</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Bán nhà</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Căn hộ bán</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Đất nền bán</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Cho thuê nhà đất</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Định giá nhà đất</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Ký gởi nhà đất</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Vay Thế Chấp</a></li>
                    </ul>
                </div>
                <div class="grid_3 grid_3_1 omega">
                    <h1>LIÊN HỆ QUẢNG CÁO</h1>
                    <ul>
                        <li><a href="tel:0901338589"><i class="fa fa-phone"></i>(0901)-338-589 Mr.Chỉnh</a></li>
                        <li><a href="mailto:admin@nhaban.net.vn"><i class="fa fa-envelope"></i>admin@nhaban.net.vn</a></li>
                        <li><a href="#"><i class="fa fa-table"></i>Bảng giá banner Quảng Cáo</a></li>
                        <li><a href="#"><i class="fa fa-table"></i>Bảng giá tin đăng</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Căn Hộ Vincity</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>Saigon Peninsula</a></li>
                    </ul>
                </div>
            </div>
            <div class="sub_footer">
                <i>
                    <b>
                        <div class="note">
                            <a href="#" target="_blank"><img src="images/dangkybo.png" alt="#" border="0"></a>
                        </div>
                        Website được sở hữu và quản lý bởi:
                    </b>
                </i>
                <br>
                <b>
                    CÔNG TY CỔ PHẦN ĐẦU TƯ KINH DOANH DỊCH VỤ 589
                </b><br>
                <b>
                    Địa chỉ:
                </b> Số 50 Đường số 1, Khu dân cư 6B Intresco, ấp 5, Xã Bình Hưng, huyện Bình Chánh; TP.Hồ Chí Minh<br>
                <b>
                    Giấy phép đăng ký kinh doanh số:
                </b>0313023573 do Sở Kế Hoạch &amp; Đầu Tư TP Hồ Chí Minh cấp ngày 22/11/2014<br>
                <b>
                    Điện thoại:
                </b> 0901338589 - Mr.Chỉnh &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>Email:</b> admin@nhaban.net.vn</td>
            </div>
            <div class="footer_bottom">
                <div>
                    <a href="#">Email: admin@nhaban.net.vn</a>
                    | <a href="#">Skype: cskh.nhaban</a>
                    | <a href="tel:0901338589">Admin Web: 0901-338-589</a>
                </div>
                <div>Địa chỉ VPĐD: Số 13A - Hồ Hảo Hớn - P.Cô Giang - Quận 1.</div>
            </div>
        </div>
    </div>
    <div class="soc_icons mg20 fixed">
        <div class="container clearfix">
            <div class="register_footer">
                <a href="#" target="_blank">
                    <i class="fa fa-pencil-square-o"></i>
                    </i>Đăng tuyển dụng
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-pencil-square-o"></i>
                    </i>Đăng tìm việc
                </a>
            </div>
        </div>
    </div>
</body>
</html>

