.layoutRegister{
    background: #f3f3f3;
    border: 1px solid #dfdfdf;
    border-radius: 8px 8px 0 0;
    border-bottom: none;
    padding: 8px 15px;
    color: #282828;
    font-size: 13px;
    display: block;
    overflow: hidden;
   
  

}
.idLayoutRegister{
        padding: 0px;
    margin: 20px 0 0;
}
.ChilLayoutRegister{
        font-weight: bold;
    padding: 9px 0 0;
    margin: 0;
    float: left;
    width: 100%;
   
}
.ClasHr{
     border-bottom: 2px solid #A71E25;
     width:25%;
}
.idLayoutRegister .ChilLayoutRegister .layoutRegister img {
    background-size: 100%;
    width: 18px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    float: left;
}
.content_register{
    padding: 12px 15px;
	border: 1px solid #dfdfdf;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	margin-top: 0;
	background: #f3f3f3;
	clear: both;
    border-radius:0 0 8px 8px;
        
}