@{
    ViewBag.Title = "LoginForm";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
<div class="container">
    <div class="grid_12 ">
        <div class="group_work">
            <div class="header_text">
                <h3><span><i class="fa fa-list-ul"></i>Đăng nhập-Đăng ký</span></h3>
            </div>
            <div class="form-horizontal">
                <div class="grid_6">
                    <div class="right_col">
                       
                        <div class="cus-h3">Đăng nhập</div>
                        <ul class="list_news cus-listnew-login">
                            <li>
                                @using (Html.BeginForm("Login", "Login"))
                                {
                                    <p>
                                        Email
                                        <input placeholder="Email" name="tblbdsaccount.Email" type="text">
                                    </p>
                                    <p>
                                        Mật khẩu
                                        <input placeholder="Mật khẩu" name="tblbdsaccount.PassWord" type="password">
                                        <button type="submit" class="btLogin">Đăng nhập</button>
                                    </p>
                                    <p class="box_remember">
                                        <a href="@Url.Action("ForgetPass", "Management")">Quên mật khẩu</a><br>
                                        Đăng nhập bằng
                                        <a href="#"><i class="fa fa-facebook-official"></i></a>
                                        <a href="#"><i class="fa fa-google-plus-square"></i></a>
                                    </p>
                                }
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="grid_6 omega">
                    <div class="right_col">
                        <div class="cus-h3">Đăng ký</div>
                        <ul class="list_news">
                            <li>
                              <b class="TextColorRed">Nếu bạn không có tài khoản </b><br />
                                <a class="cus-a-login" href="@Url.Action("RegisterCompany","Register")">Đăng Ký nhà tuyển dụng</a> 
                                <a class="cus-a-login" href="@Url.Action("RegisterPersonal","Register")">Đăng Ký nhà tuyển dụng</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</div>

