  .select2-selection__arrow > b:before {
        position: absolute;
        right: 12px;
        top: 50%;
        margin-top: -12px;
        font-family: 'FontAwesome';
        content: '\f078';
        font-size: 12px;
        color: #019281;
    }
    .select2-container--default .select2-selection--single {
        border-radius: 0px;
    }
     .select2-selection {
        height: 34px;
    }
    .select2-selection__arrow > b {
        border-color: initial;
        border-style: none;
    }
  
   .select2-container--default .select2-selection--single .select2-selection__rendered {
        /*line-height: 34px;*/
        display: block;
        font-size: 12px;
        line-height: 1;
        color: #282828;
        padding: 10px 12px 9px;
        overflow: hidden;
        white-space: nowrap;
        opacity: 0.6;

    }
    .selection > .select2-selection {
        height: 34px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 32px;
    }
        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            border-color: initial;
            border-style: none;
            border-width: initial;
            height: initial;
            left: inherit;
            margin-left: inherit;
            margin-top: inherit;
            position: inherit;
         
            width: inherit;
        }
      
        .select2-container--default .select2-results__option[aria-selected=true]
        {
            background:none;
            font-weight:700;
        }
          .select2-container--default .select2-results__option--highlighted[aria-selected]
        {
                background: #008475;
   
                color: #fff;
        }
          .select2-results__option {
            padding: 8px 12px;          
            line-height: 1;
        }