

<!DOCTYPE HTML>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
   <![endif]-->
   <!--[if IE 7]>
   <html class="no-js lt-ie9 lt-ie8">
      <![endif]-->
      <!--[if IE 8]>
      <html class="no-js lt-ie9">
         <![endif]-->
         <!--[if gt IE 8]><!-->
         <html class="no-js">
            <!--<![endif]-->
            <head>
               <meta charset="UTF-8">
               <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
               <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
               <title>BDS</title>
               <link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
               <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
               <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
               <link rel="stylesheet" href="css/font-awesome.css" type="text/css" media="screen">
               <link rel="stylesheet" href="css/reponsive.css" type="text/css" media="screen">
               <!-- <link rel="stylesheet" href="css/style.min.css" type="text/css" media="screen"> -->
               <!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
               <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
               <script src="js/flaunt.js"></script>
               <script src="js/tabs.js"></script>
               <script src="js/jquery.easydropdown.min.js"></script>
               <script src="js/dropdown.js"></script>
               <script>
                  $(document).ready(function() {
                  	//default
                  	$('.small-button').dropdown();     
                  
                  	// full dropdown width and custom class
                  	$('.full-width').dropdown({
                  		dropdownWidth: true, //true or false
                  		customClass: 'custom-class',
                  		dropdownTopAuto: true, //true or false
                  	});
                  
                  });
               </script>
            </head>
            <body>
               <div id="warrper">
                  <div id="content">
                     <div class="menu">
                        <div class="soc_icons">
                           <div class="container clearfix">
                              <p>Website tuyển dụng nhân viên bất động sản hàng đầu Việt Nam</p>
                              <div class="login">
                                 <a href="#" class="dropdown1" ><i class="fa fa-pencil-square-o" ></i>Đăng ký</a>
                                 <div id="dropdown1" class="dropdown-menu">
                                    <a href="">Nhà tuyển dụng</a>
                                    <a href="" class="omega">Người tìm việc</a>
                                 </div>
                                 <div class="dp-wrap small-button">
                                    <a href="#" class="dropdown1" ><i class="fa fa-user"></i>Đăng nhập</a>
                                    <div id="dropdown2" class="dropdown-menu">
                                       <p><input placeholder="Email" type="text"></p>
                                       <p><input placeholder="Mật khẩu" type="password"> <button type="button">Đăng nhập</button> </p>
                                       <p class="box_remember">
                                          <a href="#">Quên mật khẩu</a><br>
                                          Đăng nhập bằng
                                          <a href="#"><i class="fa fa-facebook-official"></i></a>
                                          <a href="#"><i class="fa fa-google-plus-square"></i></a>
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="container clearfix">
                           <div class="top">
                              <div class="logo"><a href="#"><img src="images/logo.png" alt="logo">Tìm việc làm bất động sản nhanh chóng</a> </div>
                              <div class="banner"><img src="images/banner.jpg" alt="logo"></div>
                           </div>
                        </div>
                        <div class="nav_section">
                           <div class="container clearfix">
                              <!-- Nav -->
                              <div class="grid_12 mg0">
                                 <nav class="nav">
                                    <ul class="nav-list">
                                       <li>
                                          <a href="" class="active">Trang chủ</a>
                                       </li>
                                       <li>
                                          <a href="">Nhân viên kinh doanh</a>
                                       </li>
                                       <li>
                                          <a href="">Quản lý</a>
                                       </li>
                                       <li>
                                          <a href="">Văn phòng</a>
                                       </li>
                                       <li>
                                          <a href="">Thẩm định</a>                                       
                                       </li>
                                       <li>
                                          <a href="">Marketing</a>
                                       </li>
                                       <li>
                                          <a href="">Pháp lý</a>                                       
                                       </li>
                                       <li>
                                          <a href="">Tele Sales</a>
                                       </li>
                                       <li class="spec">
                                          <a href=""><i class="fa fa-file-text-o"></i>Bảng giá</a>
                                       </li>
                                       <li class="spec">
                                          <a href=""><i class="fa fa-volume-control-phone" ></i>08) 39393939</a>
                                       </li>
                                    </ul>
                                 </nav>
                                 <!-- /Nav -->
                              </div>
                           </div>
                        </div>
                        <!-- Content -->
                        <div class="container">
                           <div class="grid_9 main_left">
                              <ul class="idTabs">
                                 <li>
                                    <a href="#tab1">
                                       <img src="images/icon_1.png" alt="icon">
                                       <figcaption>Dành cho người tìm việc</figcaption>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#tab2">
                                       <img src="images/icon_2.png" alt="icon">
                                       <figcaption>Dành cho nhà tuyển dụng</figcaption>
                                    </a>
                                 </li>
                              </ul>
                              <div class="content_tab">
                                 <div id="tab1">
                                    <h4>Tìm tin tuyển dụng nhân viên kinh doanh bất động sản</h4>
                                    <div class="box_select">
                                       <fieldset>
                                          <div class="grid_3">
                                             <select class="dropdown" tabindex="7">
                                                <option value="1">Option 1</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                                <option value="4">Option 4</option>
                                                <option value="5">Option 5</option>
                                             </select>
                                          </div>
                                          <div class="grid_3">
                                             <select class="dropdown" tabindex="7">
                                                <option value="1">Option 1</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                                <option value="4">Option 4</option>
                                                <option value="5">Option 5</option>
                                             </select>
                                          </div>
                                          <div class="grid_3">
                                             <select class="dropdown" tabindex="7">
                                                <option value="1">Option 1</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                                <option value="4">Option 4</option>
                                                <option value="5">Option 5</option>
                                             </select>
                                          </div>
                                          <div class="grid_3 omega"> <button class="btn_search" type="button"><i class="fa fa-search"></i>TÌM KIẾM</button> </div>
                                       </fieldset>
                                    </div>
                                 </div>
                                 <div id="tab2">
                                    <h4>Tìm tin tuyển dụng nhân viên kinh doanh bất động sản abc</h4>
                                    <div class="box_select">
                                       <fieldset>
                                          <div class="grid_3">
                                             <select class="dropdown" tabindex="7">
                                                <option value="1">Option 1</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                                <option value="4">Option 4</option>
                                                <option value="5">Option 5</option>
                                             </select>
                                          </div>
                                          <div class="grid_3">
                                             <select class="dropdown" tabindex="7">
                                                <option value="1">Option 1</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                                <option value="4">Option 4</option>
                                                <option value="5">Option 5</option>
                                             </select>
                                          </div>
                                          <div class="grid_3">
                                             <select class="dropdown" tabindex="7">
                                                <option value="1">Option 1</option>
                                                <option value="2">Option 2</option>
                                                <option value="3">Option 3</option>
                                                <option value="4">Option 4</option>
                                                <option value="5">Option 5</option>
                                             </select>
                                          </div>
                                          <div class="grid_3 omega"> <button class="btn_search" type="button"><i class="fa fa-search"></i>TÌM KIẾM</button> </div>
                                       </fieldset>
                                    </div>
                                 </div>
                              </div>
                              <div class="group_work">
                                 <h4><i class="fa fa-users"></i>Các công việc về bất động sản thường tìm kiếm</h4>
                                 <ul class="name_group">
                                    <li><a href="#">Nhân viên kinh doanh</a></li>
                                    <li><a href="#">Nhân viên pháp lý</a></li>
                                    <li><a href="#">Marketing / Quảng cáo</a></li>
                                    <li><a href="#">Kế toán / Thủ quỹ</a></li>
                                    <li><a href="#">Quản lý / Giám đốc</a></li>
                                    <li><a href="#">Nhân sự</a></li>
                                    <li><a href="#">Thư ký / Admin Sale</a></li>
                                    <li><a href="#">Thẩm định viên</a></li>
                                 </ul>
                              </div>
                              <div class="group_work">
                                 <div class="header_text">
                                    <h3><span><i class="fa fa-list-ul"></i>Việc làm Bất Động Sản hấp dẫn</span></h3>
                                    <div class="search_location">
                                       Tìm theo khu vực 
                                       <select class="dropdown" tabindex="7">
                                          <option value="1">Toàn quốc</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                          <option value="4">Option 4</option>
                                          <option value="5">Option 5</option>
                                       </select>
                                    </div>
                                 </div>
                                 <ul class="list_work">
                                    <li>
                                       <div class="grid_3">
                                          <a href="">
                                             <img src="images/1.jpg" alt="1">
                                             <p class="vip">
                                                <i class="fa fa-star"></i>
                                                <span>VIP</span>
                                             </p>
                                          </a>
                                       </div>
                                       <div class="grid_9 omega">
                                          <h2><a href="#">Nhân viên kinh doanh <span>Tập đoàn cá tiên sa</span></a></h2>
                                          <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                          <div>
                                             <p class="grid_6"><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                             <p class="grid_6 omega time">Mã tin: <span class="color2">P889275</span> <i class="fa fa-clock-o"></i>12/12/1224</p>
                                          </div>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="grid_3">
                                          <a href="">
                                             <img src="images/1.jpg" alt="1">
                                             <p class="vip">
                                                <i class="fa fa-star"></i>
                                                <span>VIP</span>
                                             </p>
                                          </a>
                                       </div>
                                       <div class="grid_9 omega">
                                          <h2><a href="#">Nhân viên kinh doanh <span>Tập đoàn cá tiên sa</span></a></h2>
                                          <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                          <div>
                                             <p class="grid_6"><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                             <p class="grid_6 omega time">Mã tin: <span class="color2">P889275</span> <i class="fa fa-clock-o"></i>12/12/1224</p>
                                          </div>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="grid_3">
                                          <a href="">
                                             <img src="images/1.jpg" alt="1">
                                             <p class="vip">
                                                <i class="fa fa-star"></i>
                                                <span>VIP</span>
                                             </p>
                                          </a>
                                       </div>
                                       <div class="grid_9 omega">
                                          <h2><a href="#">Nhân viên kinh doanh <span>Tập đoàn cá tiên sa</span></a></h2>
                                          <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                          <div>
                                             <p class="grid_6"><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                             <p class="grid_6 omega time">Mã tin: <span class="color2">P889275</span> <i class="fa fa-clock-o"></i>12/12/1224</p>
                                          </div>
                                       </div>
                                    </li>
                                    <li class="page">
                                       <div class="page_links">
                                          <span>Trang</span>
                                          <a href="#" class="active">1</a>
                                          <a href="#">2</a>
                                          <a href="#">3</a>
                                          <a href="#">4</a>
                                          <a href="#">5</a>
                                          <a href="#">Tiếp</a>
                                       </div>
                                       <div class="more">
                                          <i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#">Xem thêm</a>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                              <div class="group_work">
                                 <div class="header_text">
                                    <h3><span><i class="fa fa-list-ul"></i>Nhà tuyển dụng tiêu biểu</span></h3>
                                    <div class="search_location">
                                       Tìm theo khu vực 

                                       <select class="dropdown" tabindex="7">
                                          <option value="1">Toàn quốc</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                          <option value="4">Option 4</option>
                                          <option value="5">Option 5</option>
                                       </select>
                                    </div>
                                 </div>
                                 <ul class="list_work_2">
                                    <li>
                                       <div class="grid_9">
                                          <a href="#" class="image_2">
                                             <img src="images/2.jpg" alt="2">
                                             <p class="vip">
                                                <i class="fa fa-star"></i>
                                                <span>VIP</span>
                                             </p>
                                          </a>
                                          <div class="name">
                                             <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                             <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                             <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                          </div>
                                       </div>
                                       <div class="grid_3 omega">
                                          <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="grid_9">
                                          <a href="#" class="image_2">
                                             <img src="images/2.jpg" alt="2">
                                             <p class="vip">
                                                <i class="fa fa-star"></i>
                                                <span>VIP</span>
                                             </p>
                                          </a>
                                          <div class="name">
                                             <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                             <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                             <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                          </div>
                                       </div>
                                       <div class="grid_3 omega">
                                          <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="grid_9">
                                          <a href="#" class="image_2">
                                             <img src="images/2.jpg" alt="2">
                                             <p class="vip">
                                                <i class="fa fa-star"></i>
                                                <span>VIP</span>
                                             </p>
                                          </a>
                                          <div class="name">
                                             <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                             <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                             <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                          </div>
                                       </div>
                                       <div class="grid_3 omega">
                                          <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="grid_9">
                                          <a href="#" class="image_2">
                                             <img src="images/2.jpg" alt="2">
                                             <p class="vip">
                                                <i class="fa fa-star"></i>
                                                <span>VIP</span>
                                             </p>
                                          </a>
                                          <div class="name">
                                             <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                             <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                             <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                          </div>
                                       </div>
                                       <div class="grid_3 omega">
                                          <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="grid_9">
                                          <a href="#" class="image_2">
                                             <img src="images/2.jpg" alt="2">
                                             <p class="vip">
                                                <i class="fa fa-star"></i>
                                                <span>VIP</span>
                                             </p>
                                          </a>
                                          <div class="name">
                                             <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                             <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                             <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                          </div>
                                       </div>
                                       <div class="grid_3 omega">
                                          <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                       </div>
                                    </li>
                                    <li class="page">
                                       <div class="page_links">
                                          <span>Trang</span>
                                          <a href="#" class="active">1</a>
                                          <a href="#">2</a>
                                          <a href="#">3</a>
                                          <a href="#">4</a>
                                          <a href="#">5</a>
                                          <a href="#">Tiếp</a>
                                       </div>
                                       <div class="more">
                                          <i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#">Xem thêm</a>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                              <div class="group_work">
                                 <div class="header_text">
                                    <h3><span><i class="fa fa-list-ul"></i>Việc làm bất động sản mới</span></h3>
                                    <div class="search_location">
                                       Tìm theo khu vực 
                                       <select class="dropdown" tabindex="7">
                                          <option value="1">Toàn quốc</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                          <option value="4">Option 4</option>
                                          <option value="5">Option 5</option>
                                       </select>
                                    </div>
                                 </div>
                                 <ul class="list_work_2 green">
                                    <li>
                                       <div class="grid_9">
                                          <a href="#" class="image_2">
                                             <img src="images/2.jpg" alt="2">
                                             <p class="vip">
                                                <i class="fa fa-star"></i>
                                                <span>VIP</span>
                                             </p>
                                          </a>
                                          <div class="name">
                                             <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                             <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                             <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                          </div>
                                       </div>
                                       <div class="grid_3 omega">
                                          <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="grid_9">
                                          <a href="#" class="image_2">
                                             <img src="images/2.jpg" alt="2">
                                             <p class="vip">
                                                <i class="fa fa-star"></i>
                                                <span>VIP</span>
                                             </p>
                                          </a>
                                          <div class="name">
                                             <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                             <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                             <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                          </div>
                                       </div>
                                       <div class="grid_3 omega">
                                          <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="grid_9">
                                          <a href="#" class="image_2">
                                             <img src="images/2.jpg" alt="2">
                                             <p class="vip">
                                                <i class="fa fa-star"></i>
                                                <span>VIP</span>
                                             </p>
                                          </a>
                                          <div class="name">
                                             <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                             <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                             <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                          </div>
                                       </div>
                                       <div class="grid_3 omega">
                                          <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="grid_9">
                                          <a href="#" class="image_2">
                                             <img src="images/2.jpg" alt="2">
                                             <p class="vip">
                                                <i class="fa fa-star"></i>
                                                <span>VIP</span>
                                             </p>
                                          </a>
                                          <div class="name">
                                             <h2><a href="#">Nhân viên kinh doanh <span>Công Ty TNHH Nutrivita Việt Nam</span></a></h2>
                                             <p><i class="fa fa-map-marker"></i>Hồ Chí Minh</p>
                                             <p><i class="fa fa-clock-o"></i>12/12/1224</p>
                                          </div>
                                       </div>
                                       <div class="grid_3 omega">
                                          <p><i class="fa fa-usd"></i>Lương: Từ <span>5 - 10</span> triêu </p>
                                       </div>
                                    </li>
                                    <li class="page">
                                       <div class="page_links">
                                          <span>Trang</span>
                                          <a href="#" class="active">1</a>
                                          <a href="#">2</a>
                                          <a href="#">3</a>
                                          <a href="#">4</a>
                                          <a href="#">5</a>
                                          <a href="#">Tiếp</a>
                                       </div>
                                       <div class="more">
                                          <i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#">Xem thêm</a>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                              <div class="group_work mg0">
                                 <div class="header_text">
                                    <h3><span><i class="fa fa-list-ul"></i>Kênh nhà tuyển dụng</span></h3>
                                    <div class="search_location">
                                       Tìm theo khu vực 
                                       <select class="dropdown" tabindex="7">
                                          <option value="1">Toàn quốc</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                          <option value="4">Option 4</option>
                                          <option value="5">Option 5</option>
                                       </select>
                                    </div>
                                 </div>
                                 <ul class="last_list">
                                    <li>
                                       <a href="#">Xử nhóm đàn em Năm Cam truy sát người tại bệnh viện</a>
                                    </li>
                                    <li>
                                       <a href="#">Xử nhóm đàn em Năm Cam truy sát người tại bệnh viện</a>
                                    </li>
                                    <li>
                                       <a href="#">Xử nhóm đàn em Năm Cam truy sát người tại bệnh viện</a>
                                    </li>
                                    <li>
                                       <a href="#">Những lợi thế của BĐS Việt trong mắt chuyên gia nước ngoài </a>
                                    </li>
                                    <li class="page">
                                       <div class="page_links">
                                          <span>Trang</span>
                                          <a href="#" class="active">1</a>
                                          <a href="#">2</a>
                                          <a href="#">3</a>
                                          <a href="#">4</a>
                                          <a href="#">5</a>
                                          <a href="#">Tiếp</a>
                                       </div>
                                       <div class="more">
                                          <i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#">Xem thêm</a>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                              <div class="banner_bottom"><img src="images/banner.jpg" alt="logo"></div>
                           </div>
                           <div class="grid_3 omega main_right">
                              <div class="banner_right">
                                 <img src="images/banner2.jpg" alt="banner">
                                 <img src="images/banner2.jpg" alt="banner" style="margin:0">
                              </div>
                              <div class="right_col">
                                 <h3>Việc làm bất động sản</h3>
                                 <ul class="last_list_right">
                                    <li>
                                       <a href="#">Trưởng phòng kinh doanh</a>
                                    </li>
                                    <li>
                                       <a href="#">Nhân viên kinh doanh bđs</a>
                                    </li>
                                    <li>
                                       <a href="#">Nhân viên Admin Sale</a>
                                    </li>
                                    <li>
                                       <a href="#">Nhân viên Thị Trường</a>
                                    </li>
                                    <li>
                                       <a href="#">Nhân viên Thị Trường</a>
                                    </li>
                                    <li>
                                       <a href="#">Nhân viên Thị Trường</a>
                                    </li>
                                 </ul>
                              </div>
                              <div class="right_col">
                                 <h3>Công ty nổi bật</h3>
                                 <ul class="last_list_right">
                                    <li>
                                       <a href="#">Công ty TNHH ABC</a>
                                    </li>
                                    <li>
                                       <a href="#">Nhân viên kinh doanh bđs</a>
                                    </li>
                                    <li>
                                       <a href="#">Nhân viên Admin Sale</a>
                                    </li>
                                    <li>
                                       <a href="#">Nhân viên Thị Trường</a>
                                    </li>
                                    <li>
                                       <a href="#">Nhân viên Thị Trường</a>
                                    </li>
                                    <li>
                                       <a href="#">Nhân viên Thị Trường</a>
                                    </li>
                                 </ul>
                              </div>
                              <div class="right_col">
                                 <h3>Chia sẽ kinh nghiệm</h3>
                                 <ul class="list_news">
                                    <li>
                                       <a href="#"><img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                       <figcaption><a href="#">Lo ngại tình trạng mua bán tùm lum chỗ để ô tô trong chung cư</a></figcaption>
                                    </li>
                                    <li>
                                       <a href="#"><img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                       <figcaption><a href="#">Loại bỏ các cao ốc ‘phá nát biển Nha Trang’</a></figcaption>
                                    </li>
                                    <li>
                                       <a href="#"><img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                       <figcaption><a href="#">Tiền đổ vào bất động sản chưa bao giờ giảm</a></figcaption>
                                    </li>
                                 </ul>
                              </div>
                              <div class="comment">
                                 <h3><i class="fa fa-comments"></i>Nhận xét khách hàng</h3>
                                 <div class="comment_box">
                                    <p>Tôi rất thoải mái cách làm việc của các bạn, tôi chúc các bạn thành công hơn nữa</p>
                                 </div>
                                 <div class="name_comment">
                                    <p><span>Anh Tú</span> Cty một thành viên</p>
                                 </div>
                              </div>
                              <div class="right_col">
                                 <h3>Tin bất động sản</h3>
                                 <ul class="list_news">
                                    <li>
                                       <a href="#"><img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                       <figcaption><a href="#">Lo ngại tình trạng mua bán tùm lum chỗ để ô tô trong chung cư</a></figcaption>
                                    </li>
                                    <li>
                                       <a href="#"><img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                       <figcaption><a href="#">Loại bỏ các cao ốc ‘phá nát biển Nha Trang’</a></figcaption>
                                    </li>
                                    <li>
                                       <a href="#"><img src="http://nhaban.net.vn/wp-content/plugins/zendvn-real-estate/public/files/news/p65x49/20160310112710-15e7.jpg"></a>
                                       <figcaption><a href="#">Tiền đổ vào bất động sản chưa bao giờ giảm</a></figcaption>
                                    </li>
                                 </ul>
                              </div>
                              <div class="banner_right">
                                 <img src="images/banner2.jpg" alt="banner">
                                 <img src="images/banner2.jpg" alt="banner">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--end--> 
               </div>
               <!--footer-->    
               <div id="footer">
                  <div class="container clearfix">
                     <div class="top_footer">
                        <ul>
                           <li><a href="#">Nhà bán</a></li>
                           <li><a href="#">Đất nền</a></li>
                           <li><a href="#">Căn hộ</a></li>
                           <li><a href="#">Nhà cho thuê</a></li>
                           <li><a href="#">Quy định</a></li>
                           <li><a href="#">Điều khoản thỏa thuận</a></li>
                        </ul>
                     </div>
                     <div class="main_footer">
                        <div class="grid_4 grid_4_1">
                           <h1>NHABAN.NET.VN</h1>
                           <p>Đăng tin <strong>MIỄN PHÍ</strong> - Mua bán <strong>TỨC THÌ</strong></p>
                           <p>Website Đăng tin bất động sản thế hệ mới dành cho cá nhân và Doanh nghiệp mua bán thuê nhà đất online.</p>
                        </div>
                        <div class="grid_3 grid_3_1">
                           <h1>QUY ĐỊNH/ĐĂNG TIN</h1>
                           <ul>
                              <li>
                                 <a href="#"><i class="fa fa-caret-right"></i>Quy chế trên Nhaban.net.vn</a>
                              </li>
                              <li>
                                 <a href="#"><i class="fa fa-caret-right"></i>Chính sách bảo mật</a>
                              </li>
                              <li>
                                 <a href="#"><i class="fa fa-caret-right"></i>Giải quyết tranh chấp</a>
                              </li>
                              <li>
                                 <a href="#"><i class="fa fa-caret-right"></i>Qui định đăng tin</a>
                              </li>
                           </ul>
                        </div>
                        <div class="grid_3 grid_3_1">
                           <h1>SẢN PHẨM / DỊCH VỤ</h1>
                           <ul>
                              <li><a href="#"><i class="fa fa-caret-right"></i>Đăng tin miễn phí</a></li>
                              <li><a href="#"><i class="fa fa-caret-right"></i>Bán nhà</a></li>
                              <li><a href="#"><i class="fa fa-caret-right"></i>Căn hộ bán</a></li>
                              <li><a href="#"><i class="fa fa-caret-right"></i>Đất nền bán</a></li>
                              <li><a href="#"><i class="fa fa-caret-right"></i>Cho thuê nhà đất</a></li>
                              <li><a href="#"><i class="fa fa-caret-right"></i>Định giá nhà đất</a></li>
                              <li><a href="#"><i class="fa fa-caret-right"></i>Ký gởi nhà đất</a></li>
                              <li><a href="#"><i class="fa fa-caret-right"></i>Vay Thế Chấp</a></li>
                           </ul>
                        </div>
                        <div class="grid_3 grid_3_1 omega">
                           <h1>LIÊN HỆ QUẢNG CÁO</h1>
                           <ul>
                              <li><a href="tel:0901338589"><i class="fa fa-phone"></i>(0901)-338-589 Mr.Chỉnh</a></li>
                              <li><a href="mailto:admin@nhaban.net.vn"><i class="fa fa-envelope"></i>admin@nhaban.net.vn</a></li>
                              <li><a href="#"><i class="fa fa-table"></i>Bảng giá banner Quảng Cáo</a></li>
                              <li><a href="#"><i class="fa fa-table"></i>Bảng giá tin đăng</a></li>
                              <li><a href="#"><i class="fa fa-caret-right"></i>Căn Hộ Vincity</a></li>
                              <li><a href="#"><i class="fa fa-caret-right"></i>Saigon Peninsula</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="sub_footer">
                        <i>
                           <b>
                              <div class="note">
                                 <a href="#"target="_blank"><img src="images/dangkybo.png" alt="#" border="0"></a>
                              </div>
                              Website được sở hữu và quản lý bởi: 
                           </b>
                        </i>
                        <br>
                        <b>
                        CÔNG TY CỔ PHẦN ĐẦU TƯ KINH DOANH DỊCH VỤ 589</b><br>
                        <b>
                        Địa chỉ:</b> Số 50 Đường số 1, Khu dân cư 6B Intresco, ấp 5, Xã Bình Hưng, huyện Bình Chánh; TP.Hồ Chí Minh<br>
                        <b>
                        Giấy phép đăng ký kinh doanh số: </b>0313023573 do Sở Kế Hoạch &amp; Đầu Tư TP Hồ Chí Minh cấp ngày 22/11/2014<br>
                        <b>
                        Điện thoại:</b> 0901338589 - Mr.Chỉnh &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>Email:</b> admin@nhaban.net.vn</td>
                     </div>
                     <div class="footer_bottom">
                        <div>
                           <a href="#">Email: admin@nhaban.net.vn</a> 
                           | <a href="#">Skype: cskh.nhaban</a> 
                           | <a href="tel:0901338589">Admin Web: 0901-338-589</a> 
                        </div>
                        <div>Địa chỉ VPĐD: Số 13A - Hồ Hảo Hớn - P.Cô Giang - Quận 1.</div>
                     </div>
                  </div>
               </div>
               <div class="soc_icons mg20 fixed">
                  <div class="container clearfix">
                     <div class="register_footer">
                        <a href="#" target="_blank"><i class="fa fa-pencil-square-o" ></i>
                        </i>Đăng tuyển dụng</a>
                        <a href="#" target="_blank"><i class="fa fa-pencil-square-o" ></i>
                        </i>Đăng tìm việc</a>
                     </div>
                  </div>
               </div>
            </body>
         </html>

