.cusdefault {
    background: #bfbfbf;
    font-size: 13px;
    color: #666666;
    font-style: italic;
    height: 30px;
     width: 240px;
      padding: 6px 12px;
    
   
    
}
.dz-image {
    border-radius: 0 !important;
    display: block !important;
    height: 135px !important;
    width: 240px !important;
    overflow: hidden !important;
    position: relative !important;
}

.containerUpload {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.cussimg {
    height: 135px !important;
    width: 240px !important;
}

.dropzone .tools {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 35px;
    z-index: 999;
}

.dropzone .tools > * { margin: 0 0 0 5px; }

.dropzone.smalltools .tools .btn {
    font-size: 12px;
    padding: 1px 4px;
}

.dz-preview {
    display: inline-block !important;
    min-height: 135px !important;
    position: relative !important;
    vertical-align: top !important;
     margin: 0 20px 15px 0 !important;

}

.dropzone {
    min-height: 50px !important;
    padding: 0 0 0 0 !important;
    /*background:#f5f5f5;*/
    border: 0 solid rgba(0, 0, 0, 0.3) !important;
   

}
.cusbuttonmes {
    text-align: left!important;
    margin-top: 0px!important;
}
.cush1 {
    margin-bottom: -25px!important;
}
.cusfilename {
      background: white;
    border: 1px #e3e3e3;
    font-size: 14px;
    color: #919191;
    font-style: italic;
    height: 40px;
     /*width: 240px;*/
}
.cbtn-info-ok {
    box-shadow: #d0d0d0 0 2px 0 0;
    background: #6ca025;
}
.cusbtn-del {
     box-shadow: 0 1px 2px #666666;
     background: #ed1c24;
}

.btn {
    -moz-user-select: none !important;
    background-image: none !important;
    border: 0 solid transparent !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-size: 16px !important;
    /*font-weight: normal !important;*/
    line-height: 1.25 !important;
    margin-bottom: 0;
    padding: 6px 10px ;
    text-align: center;
    vertical-align: middle !important;
    white-space: nowrap !important;
}
.cusinput {
   
    background-color:white;
    border: 1px solid #e3e3e3;
    border-radius: 0 !important;
    font-size: 14px !important;
    height: 40px !important;
  
    width: 100%;
}
.cusradio {
     margin: 0 10px 0 10px !important;
}